<div class="nm-container red-bg nm-center">

  <div class="flex-col main">

    <!-- user photo -->
    <img class="nm-center round border-white photo"
         [src]="(userCurrent && userCurrent.photoUrl) ? userCurrent.photoUrl : '../../../../assets/imgs/default_user.png'" />

    <!-- user name -->
    <span class="sp-notice"
          style="margin-top: 12px;"
    >{{userCurrent ? userCurrent.fullName() : ''}}</span>

    <!-- title -->
    <span class="sp-title top-border bottom-border"
    >Tell us your favourite cuisines.</span>

    <!-- content -->
    <div
      class="content"
      style="margin-top: 14px;">
      <div class="container-scroll">
        <div class="dv-no-list-item flex-c-row nm-center"
             *ngIf="favourites.length == 0; else list">
          <span>No cuisine items yet</span>
        </div>

        <ng-template #list>
          <div class="row">
            <div class="col-3" *ngFor="let data of favourites">
              <app-cuisine-item [item]="data"></app-cuisine-item>
            </div>
          </div>
        </ng-template>

      </div>
    </div>

    <!-- buttons -->
    <div class="button-wrapper nm-center">
      <button
        full
        type="button"
        class="btn btn-light round"
        (click)="onButNext()"
      >Next</button>
    </div>

  </div>

</div>
