<div class="pg-content">
  <!-- title -->
  <div class="pg-title">
    <div>
      <span class="title">Edit Profile</span>
    </div>
  </div>

  <div class="dv-content">

    <div class="card with-shadow">
      <!-- upload image -->
      <app-image-uploader class="nm-center">
      </app-image-uploader>

      <form class="d-flex flex-column">
        <!-- first name -->
        <div class="form-group">
          <label>First Name</label>
          <input class="form-control"
                 placeholder="Enter first name" />
        </div>

        <!-- last name -->
        <div class="form-group">
          <label>Last Name</label>
          <input class="form-control"
                 placeholder="Enter last name" />
        </div>

        <!-- current password -->
        <div class="form-group">
          <label>Current Password</label>
          <input class="form-control"
                 type="password"
                 placeholder="Enter current password" />
        </div>

        <!-- new password -->
        <div class="form-group">
          <label>New Password</label>
          <input class="form-control"
                 type="password"
                 placeholder="Enter new password" />
        </div>

        <!-- re-enter new password -->
        <div class="form-group">
          <label>Re-Enter New Password</label>
          <input class="form-control"
                 type="password"
                 placeholder="Re-enter new password" />
        </div>

        <button type="submit"
                class="btn btn-primary btn-rect"
        >Save</button>
      </form>
    </div>

  </div>

</div>
