<div class="pg-content">
  <!-- title -->
  <div class="pg-title">
    <div>
      <span>Favorites</span>
    </div>
  </div>

  <!-- menus -->
  <div class="dv-menus">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active">Recipes</a>
      </li>
    </ul>
  </div>

  <!-- recipes -->
  <div class="dv-content">
    <div class="row grid-recipe">
      <div class="col-3" *ngFor="let data of recipes">
        <app-recipe-grid-card></app-recipe-grid-card>
      </div>
    </div>
  </div>

</div>
