.logo {
  width: 180px;
  height: 100%;
}

.main {
  align-self: center;
}


// operations
.button-wrapper {
  margin-top: 10px;

  button {
    margin-top: 6px;
    font-size: 9pt;
  }
}

//
// social
//
.social {
  margin-top: 10px;

  img {
    width: 40px;
    height: 40px;
  }
}
