<div class="pg-content">
  <!-- title -->
  <div class="pg-title">
    <div>
      <span>My Recipes</span>

      <!-- buttons -->
      <div class="button-wrapper nm-center d-flex">
        <button
          type="button"
          class="btn btn-gradient"
          (click)="onButNewRecipe()">
          <i class="icon ion-md-add"></i>
        </button>
      </div>
    </div>
  </div>

  <!-- recipes -->
  <div class="dv-content">
    <div class="row grid-recipe">
      <div class="col-3" *ngFor="let data of recipes">
        <app-recipe-grid-card
          [showDate]="false">
        </app-recipe-grid-card>
      </div>
    </div>
  </div>

</div>
