<div class="container red-bg nm-center">

  <div class="flex-c-row">
    <!-- logo -->
    <img class="logo" src="../../../assets/imgs/logo.png" />

    <!-- slide show -->
    <div
      class="owl-carousel owl-theme"
      appOwlcarousel
      [owlOptions]="owlCarouselOptions">

      <div class="item">
        <span>Input your preference and generate<br />a menu that has everything you want.</span>
      </div>
      <div class="item">
        <span>Have access to thousands of recipes<br />that are tailored to your specific<br />preference.</span>
      </div>
      <div class="item">
        <span>Upload your own recipes, take pictures<br />of what you make, and share it on<br />social media.</span>
      </div>
    </div>

    <!-- buttons -->
  </div>

</div>
