.logo {
  width: 160px;
}


[appOwlcarousel] {
  width: 240px;
  margin-left: 80px;

  color: white;
  font-size: 10pt;
}

/* carousel style */
::ng-deep .owl-theme .owl-dots .owl-dot.active span,
::ng-deep .owl-theme .owl-dots .owl-dot.active:hover span {
  background-color: white;
}
::ng-deep .owl-theme .owl-dots .owl-dot:hover span {
  background-color: transparent;
}
::ng-deep .owl-theme .owl-dots .owl-dot span {
  width: 6px;
  height: 6px;
  margin: 4px;
  border: white 1px solid;
  background-color: transparent;
}



