.logo {
  width: 160px;
  height: 100%;
}

.main {
  align-self: center;
}

.sp-title {
  margin-bottom: 20px;
}

.sp-notice {
  margin-top: 20px;
  margin-bottom: 20px;
  font-style: italic;
  font-size: 9pt;
}
