@import '../../styles/sass/conf/conf';

:host {
  .al-main {
    margin-left: $sidebar-width;
    min-height: 500px;
    position: relative;
  }

  .pg-content {
    display: flex;
    width: 100%;
  }

}
