<div class="pg-content">
  <!-- title -->
  <div class="pg-title">
    <div>
      <span class="title">Add Cooking Tips</span>

      <!-- buttons -->
      <div class="button-wrapper nm-center d-flex">
        <button
          type="button"
          class="btn btn-gradient round"
          (click)="onButSubmit()"
        >Add</button>
      </div>
    </div>
  </div>

  <div class="dv-content">
    <div class="card with-shadow">

      <form class="d-flex flex-column">
        <!-- title -->
        <div class="form-group">
          <label>Title</label>
          <input class="form-control"
                 placeholder="Enter title" />
        </div>

        <!-- preparation -->
        <div class="form-group">
          <label>Cooking Tip</label>
          <textarea class="form-control"
                    placeholder="Enter Content"></textarea>
        </div>

      </form>

    </div>
  </div>

</div>
