<div class="pg-content">
  <!-- title -->
  <div class="pg-title">
    <div>
      <span class="title">About the App</span>
    </div>
  </div>

  <div class="dv-version nm-center">
    <!-- logo -->
    <img class="logo" src="../../../assets/imgs/logo.png" />
    <span>Version 1.00</span>
  </div>

  <div class="dv-content">
    <div class="card">
      <div class="card-body">
        nuMenu is a bad ass app that has been passionately crafted to level-up the way that you shop, cook, and eat. It has been expertly crafted to give you everything that you want - fully customizable menus, responsive shopping lists, and a huge database of delicious, satisfying recipes and menus from healthy to decadent (because let’s be honest, sometimes you just want to eat cake) plus many more features that take the suck out of meal planning, shopping, and food prep so that you can focus on what really matters, that’s right, eating that cake.
      </div>
    </div>
  </div>

</div>
