<div class="container red-bg nm-center">

  <div class="flex-row main">
    <!-- logo -->
    <img class="logo" src="../../../assets/imgs/logo.png" />

    <div class="flex-col content">

      <!-- title -->
      <span class="sp-title">Sign Up</span>

      <!-- email-->
      <div class="flex-c-row input-item signin-input">
        <img
          src="../assets/imgs/signin/signin_password.png"
          style="width: 12px;" />
        <input
          type="password"
          class="form-control"
          placeholder="Enter your password">
      </div>

      <!-- valid checkboxes -->
      <div
        style="margin-top: 20px;">
        <app-check-box text="At least 6 characters long."></app-check-box>
        <app-check-box text="Contains uppercase letter."></app-check-box>
        <app-check-box text="Contains lowercase letter."></app-check-box>
        <app-check-box text="Contains a number."></app-check-box>
      </div>

      <!-- buttons -->
      <div class="button-wrapper">
        <button
          full
          type="submit"
          class="btn btn-light round"
          (click)="onButNext()"
        >Next</button>
      </div>

    </div>

  </div>

</div>
