/* You can add global styles to this file, and also import other style files */

@import 'sass/conf/conf';
@import 'sass/buttons';
@import 'sass/form';

// font
@font-face {
  font-family: 'myriad';
  src: url('../assets/fonts/MyriadProRegular.ttf') format('truetype');
}


html,
body {
  height: 100%;
  margin: 0;
  font-family: 'myriad';
  background-color: $light;
}

/* background */
.red-bg {
 background-image: url('../assets/imgs/onboard_bg.png');
 background-size: cover;
}

.flex-row {
  display: flex;
}
.flex-c-row {
  display: flex;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}


.nm-center {
  align-self: center;
  justify-content: center !important;
  text-align: center;
}

.nm-container {
  display: flex;
  width: 100%;
  height: 100%;
}

/**
general control properties
 */
[full] {
  width: 100%;
}

[clear] {
  border: 0;
  background-color: transparent;
}

button[icon-only] {
  padding: 0;
}

.round {
  border-radius: 300px;
}

//
// border
//
.top-border {
  border-top: 1px solid $light;
}
.bottom-border {
  border-bottom: 1px solid $light;
}
.border-white {
  border: solid 3px $light;
}


//
// signin form
//
.signin-input {
  border-bottom: 1px solid $light;

  .form-control {
    width: 100%;
    border: none;
    background-color: transparent;
    font-size: 9pt;

    &:focus {
      border: none;
      background: transparent;
    }
  }
}
.signin-input img {
}

/**
  spans
 */
.sp-notice {
  color: $light;
  font-size: 10pt;
  line-height: 1.5;

  a {
    color: $danger;
    text-decoration: none !important;
  }
}
.sp-title {
  color: $light;
  font-size: 11pt;
}

//
// square image
//
.square {
  position: relative;
  padding-bottom: 100%;
  background-position: 50%;
  background-size: cover;
}
