:host {
  .combo-container {
    position: relative;
  }

  .data-container {
    width: 100%;
    position: absolute;
    z-index: 1;

    max-height: 160px;
    overflow-y: scroll;

  }

  .list-group {
  }

  .list-group-item {
    padding: 6px 12px;
    cursor: pointer;
  }
}
