@import '../../../styles/sass/conf/conf';
@import "~bootstrap/scss/bootstrap";


:host {
  .dv-menus {
    background-color: $primary;
    color: $light;

    // content
    > .nav {
      margin: 0 auto;
      width: $page-content-width;

      .nav-link {
        color: $light;

        @include hover {
          color: $light-dark;
        }

        &.active {
          border-bottom: $danger 3px solid;
        }
      }
    }
  }

  .dv-content {
    margin-top: 12px;
    margin-bottom: 12px;
  }


  /deep/ .button-wrapper {
    margin-top: 20px;
    padding: 6px !important;
    border: 1px solid $primary;
    border-radius: 30px;
  }

  /deep/ .card {
    padding: 16px;
  }

  /deep/ form {
    > .form-control {
      margin-bottom: 10px;
    }
  }
}
