<div class="pg-content">
  <!-- title -->
  <div class="pg-title">
    <div>
      <span class="title">Cooking Tips</span>

      <!-- search bar -->
      <app-search-bar></app-search-bar>
    </div>

  </div>

  <div class="dv-content">
    <div class="card with-shadow"
         *ngFor="let data of tips">
      <div class="card-body">
        <div class="card-title">Cooking Tip 1</div>
        <p class="card-text">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
      </div>
    </div>

  </div>

</div>
