<div class="pg-content">
  <!-- title -->
  <div class="pg-title">
    <div>
      <span class="title">Reviews</span>

      <!-- buttons -->
      <div class="button-wrapper nm-center d-flex">
        <button
          type="button"
          class="btn btn-gradient"
          (click)="onButNewReview()">
          <i class="icon ion-md-create"></i>
        </button>
      </div>
    </div>
  </div>

  <!-- reviews -->
  <div class="dv-content">
    <div class="card with-shadow"
      *ngFor="let num of [1, 2, 3, 4, 5]">

      <!-- heading -->
      <div class="d-flex align-items-center heading">
        <app-star-rate
          [rating]="3">
        </app-star-rate>
        <span>Easy to prepare</span>
      </div>

      <!-- user & time -->
      <div class="user-info"
      >By John Williams on March 31, 2018</div>

      <!-- content -->
      <div class="content"
      >Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</div>

    </div>

  </div>

</div>
