.logo {
  width: 160px;
  height: 100%;
}

.main {
  align-self: center;
}

.content {
  margin-left: 80px;
  width: 200px;
}

.sp-title {
  margin-bottom: 20px;
}

app-check-box:not(:first-child) {
  margin-top: 6px;
}


// operations
.button-wrapper {
  margin-top: 30px;

  button {
    font-size: 9pt;
  }
}
